.collection img {
  filter: grayscale(100%);
  transition: 0.5s;
}
.collection img:hover {
  filter: grayscale(0);
}
.collection {
  margin-bottom: 50px;
}
.collection .box {
  border: none;
}
